# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\robbe\OneDrive\Documenten\Schooljaar 2021-2022\Eerste Semester\OOO\13_Christiaensen_Mensaert_Piekarz_VandeVelde_Broodjeszaak_2021_2022\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
